#Below are application specific keys
REACT_APP_CATEGORY=
REACT_APP_GOOGLE_TRACKING_ID=
REACT_APP_SUBTITLE=
REACT_APP_TITLE=
REACT_APP_URL=

#Below keys are required for Reading GoogleSheet
REACT_APP_GOOGLE_API_KEY=
REACT_APP_GOOGLE_SHEETS_ID=

#Below keys are required for Changes in GoogleSheet
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=

#Below keys are required for Firebase configuration
REACT_APP_FIREBASE_APIKEY=
REACT_APP_FIREBASE_PROJECTID=
REACT_APP_FIREBASE_STORAGEBUCKET=
REACT_APP_FIREBASE_MESSAGINGSENDERID=
REACT_APP_FIREBASE_APPID=
REACT_APP_FIREBASE_MEASUREMENTID=
